@{
    ViewBag.Title = Reporting.Resources.Configuracion.lblRolNoEncontradoTitulo;
}

<div class="container-fluid panel panel-default formulario-abm">
    <div class="error-generico">
        <h1>Reporting.Resources.Configuracion.lblRolNoEncontradoTitulo</h1>
        <p>@Reporting.Resources.Configuracion.lblRolNoEncontradonoAfectaDatos</p>
        <p>@Reporting.Resources.Configuracion.lblRolNoEncontradoMensaje</p>
        <p>@Reporting.Resources.Configuracion.lblRolNoEncontradoLink1 <a href="@Url.Action("Roles","Configuracion")">@Reporting.Resources.Configuracion.lblRolNoEncontradoAqui</a></p>
    </div>
</div>