
@{
    ViewBag.Title = Reporting.Resources.Configuracion.lblUsuarioNoEncontradoTitulo;
}

<div class="container-fluid panel panel-default formulario-abm">
    <div class="error-generico">
        <h1>@Reporting.Resources.Configuracion.lblUsuarioNoEncontradoTitulo</h1>
        <p>@Reporting.Resources.Configuracion.lblUsuarioNoEncontradoSubTitulo</p>
        <p>@Reporting.Resources.Configuracion.lblUsuarioNoEncontradoMensaje</p>
        <p>@Reporting.Resources.Configuracion.lblUsuarioNoEncontradoLink1 <a href="@Url.Action("Usuarios","Configuracion")">@Reporting.Resources.Configuracion.lblUsuarioNoEncontradoLinkAqui</a></p>
    </div>
</div>