@model Reporting.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó la contraseña?";
}



@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div id="wrapper" style="text-align: center">
        <div class="container ingreso" style="display: inline-block;">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="logo">
                    <a href="#">Checkpos Performance</a>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                    <h4 class="recuperarTitle">@ViewBag.Title.</h4>
					<h5>Especifique su correo electrónico.</h5>
					@Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", placeholder = "Correo electrónico", data_placement = "top", data_trigger = "manual" })
						</div>
                    </div>
                    <div class="panel-footer">
			            <input type="submit" class="btn btn-accion" value="Recuperar Contraseña" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
}
