<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.13/b-1.2.3/b-colvis-1.2.3/b-html5-1.2.3/fh-3.1.2/r-2.1.0/datatables.min.css" />

    <title>CheckPOS Reporting</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <link href="css/ie8.css" rel="stylesheet">
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

</head>
<body>
    <div id="full-screen-box">
        <div id="full-screen-box-header">
            <a href="#" id="full-screen-cerrar" class="pull-right">Volver<i class="fa fa-close fa-2x"></i></a>
        </div>
        <div id="full-screen-box-body">

        </div>
    </div>
    <div class="modal fade" id="listado-cuentas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">@Reporting.Resources.Tableros.clientesModalTitle</h4>
                </div>
                <div id="listado-cuentas-lista-clientes" class="modal-body"></div>
                <div class="modal-footer">
                    <a href="#" class="pull-left link-cancelar" data-dismiss="modal"><i class="fa fa-angle-left"></i>&nbsp; @Reporting.Resources.Tableros.clientesModalCerrar</a>
                    <button id="btnsetcliente" type="button" class="btn btn-accion">@Reporting.Resources.Tableros.clientesModalGuardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-perfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="myModalLabel">@Reporting.Resources.Tableros.perfilModalTitulo</div>
                </div>
                <div id="modal-perfil-datos" class="modal-body"></div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top principal" role="navigation">
        <div class="topbarPage">
            @Html.Action("GetLogo", "Base")

            <a href="#" class="dropdown-toggle pull-right top-right-image" data-toggle="dropdown" aria-expanded="false">
                @{Html.RenderAction("GetImgPerfil", "Base");}
            </a>

            <ul class="dropdown-menu config pull-right" role="menu">
                <li><a href="@Url.Action("MisDatos","Tableros")">@Reporting.Resources.Shared.lblLayoutMisDatosDePerfil</a></li>


                <li><a id="agetclientesasignados" href="#">@Reporting.Resources.Tableros.menuClientesLabel</a></li>


                @if (User.IsInRole("ClienteAdmin") || User.IsInRole("Administrador"))
                {
                    <li><a href="@Url.Action("Index","Configuracion")">@Reporting.Resources.Tableros.linkConfiguracion</a></li>
                }

                <li role="separator" class="divider"></li>
                <li class="salir">@Html.Partial("_Logout")</li>
            </ul>

            <div class="collapse navbar-collapse pull-left" id="topmenu">
                <ul class="nav navbar-nav">
                    @if (MyHelpers.IsInRole("verTablero"))
                    {
                        <li><a href="@Url.Action("Index","Tableros")" id="HeaderTableroLabel">@Reporting.Resources.Tableros.linkTableros</a></li>
                    }
                    @if (MyHelpers.IsInRole("verImagenes"))
                    {
                        <li><a href="@Url.Action("Index","Imagenes")">@Reporting.Resources.Tableros.linkImagenes</a></li>
                    }
                    @if (MyHelpers.IsInRole("verMapas"))
                    {
                        <li><a href="@Url.Action("Index","Geo")">@Reporting.Resources.Tableros.linkMaps</a></li>
                    }
                    @if (MyHelpers.IsInRole("verDatos"))
                    {
                        <li><a href="@Url.Action("Index","Datos")">@Reporting.Resources.Tableros.linkDatos</a></li>
                    }
                    @if (MyHelpers.IsInRole("verAlertas"))
                    {
                        <li><a href="@Url.Action("Index","Alertas")">@Reporting.Resources.Shared.lblLinkAlertas</a></li>
                    }
                    @if (MyHelpers.IsInRole("verCalendario"))
                    {
                        <li><a href="@Url.Action("Index","Calendario")">@Reporting.Resources.Shared.lblLinkCalendario</a></li>
                    }
                    @if (MyHelpers.IsInRole("verForecastingSIO"))
                    {
                        <li><a href="@Url.Action("SalesInOut","Forecasting")">CAP</a></li>
                    }
                    @if (MyHelpers.IsInRole("verForecastingConfirmados"))
                    {
                        <li><a href="@Url.Action("Confirmados","Forecasting")">CAP Confirmados</a></li>
                    }
                    @if (MyHelpers.IsInRole("enviarBajaDePrecio"))
                    {
                        <li><a href="@Url.Action("Index","PriceRequest")">@Reporting.Resources.PriceRequest.PriceRequest_</a></li>
                    }
                    @if (MyHelpers.IsInRole("adminBajaDePrecio"))
                    {
                        <li><a href="@Url.Action("Admin", "PriceRequest")">@Reporting.Resources.PriceRequest.AdminPriceRequest</a></li>
                    }
                    else
                    {
                        if (MyHelpers.IsInRole("verBajaDePrecio"))
                        {
                            <li><a href="@Url.Action("AdminSelf", "PriceRequest")">@Reporting.Resources.PriceRequest.ViewPriceRequest</a></li>
                        }
                    }
                </ul>
            </div>
            <span id="clienteSeleccionado" class="viendo-empresa pull-right" data-placement="bottom" title="@Reporting.Resources.Shared.lblEmpresaQueEstasViendo"></span>
        </div>
    </nav>




    <!----------------------------------  ENCABEZADO  ----------------------------------->
    @Html.Action("GetEncabezadoMarcaBlanca", "Base")

    <div id="renderBody">
        @RenderBody()
    </div>

    @Html.Action("GetFooterMarcaBlanca", "Base")



    @Scripts.Render("~/bundles/commonjs")
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/b-1.2.3/b-colvis-1.2.3/b-html5-1.2.3/fh-3.1.2/r-2.1.0/datatables.min.js"></script>*@

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {



            setLabelNombreClienteSeleccionado();
            setLabelIdClienteSeleccionado();
            $('#btnsetcliente').on('click', function () {
                var $radio = $('input[name=IdCliente]:checked');                
                var id = $radio.attr('id');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SetClienteSeleccionado", "Tableros")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        clienteId: id
                    }),
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $('#listado-cuentas').modal('hide');

                      var url = window.location.href.replace('#', '');

                        window.location.href = data;

                    }
                });
            });

            $('#agetclientesasignados').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetClientes", "Tableros")",
                    success: function (data) {
                        $('#listado-cuentas-lista-clientes').html(data);
                        $('#listado-cuentas').modal('show');
                    }
                });
            });

            $('#agetperfil').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetPerfil", "Tableros")",
                    success: function (data) {
                        $('#modal-perfil-datos').html(data);
                        $('#modal-perfil').modal('show');

                        var form = $('#modal-perfil').find('form');
                        $(form).removeData("validator");
                        $(form).removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse($(form));
                    }

                });
            });
            
            function setLabelIdClienteSeleccionado() {
                $.ajax({
                    url: "@Url.Action("GetIdClienteSeleccionado","Tableros")",
                    cache: false,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#clienteSeleccionado').attr('data-idCliente', data.Id);
                        if (data.DisplayText != null && data.DisplayText != "") {
                            $('#agetclientesasignados').text(data.DisplayText);
                        }
                        if (data.DisplayTextBoard != null && data.DisplayTextBoard != "") {
                            $('#HeaderTableroLabel').text(data.DisplayTextBoard);
                        }
                                             
                    }
                });
            };
            function setLabelNombreClienteSeleccionado() {
                $.ajax({
                    url: "@Url.Action("GetNombreClienteSeleccionado","Tableros")",
                    cache: false,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        let paisAbr = data.PaisAbr;
                        let imgPais = '';
                        let extension = '.svg';

                        $('#clienteSeleccionado').text(data.Nombre);

                        if (paisAbr != '' && paisAbr != null) {
                            imgPais = document.createElement('img');                        
                            imgPais.src = "@Url.Content("~/images/Flags")" + "/" + paisAbr + extension;
                            imgPais.style = 'width:20px; height:15px; margin-right:5px;margin-top:-2px;';
                            $('#clienteSeleccionado').prepend(imgPais);
                        }
                    }
                });
            };

        });

        $('#full-screen-cerrar').on('click', function () {
            $('#full-screen-box').hide();
            $('#renderBody').show();
            $('#full-screen-box-body').empty();
        });
    </script>
</body>
</html>

